
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #11d6dd;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

p, label {
    color: #000000;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;
}

textarea{
    padding: 10px 5 px
}
.cabecalho { 
    height: 160px;
    padding:20px; 
    background-color: rgb(128, 16, 233);
}

.cabecalho h3 {
    color:rgb(0, 0, 0);
    margin-top: 0;
}

.form-container {
    background-color: #ccc;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -46px;
}
.fom-header {
    border-bottom: 1px solid #ec0c0c;
    height: 45px;
}